{% extends 'base.html' %}
{% block content %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ post.title }}",
  "author": {"@type": "Person", "name": "{{ post.author }}"},
  "datePublished": "{{ post.created_on|date:'Y-m-d' }}",
  "description": "{{ post.meta_description }}"
}
</script>

<div id="fh5co-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <article class="animate-box" style="line-height: 1.8; font-size: 17px; color: #444;">
                    <h1 style="font-family: 'Roboto Slab', serif; color: #2D3E50; font-weight: 700;">{{ post.title }}
                    </h1>
                    <p class="text-muted">Published on {{ post.created_on|date:"F d, Y" }} by {{ post.author }}</p>

                    <hr>

                    {% if post.image %}
                    <img src="{{ post.image.url }}" class="img-responsive"
                        style="border-radius: 10px; margin-bottom: 30px;" alt="{{ post.title }}">
                    {% endif %}

                    <div class="main-content">
                        {{ post.content|safe }}
                    </div>

                    <hr>
                    <div class="share-box" style="margin-top: 40px;">
                        <h4>Spread the Knowledge:</h4>
                        <a href="https://wa.me/?text=Check out this Python tutorial: {{ request.build_absolute_uri }}"
                            class="btn btn-success"><i class="icon-whatsapp"></i> Share on WhatsApp</a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-okaidia.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-python.min.js"></script>

{% endblock %}