{% extends 'base.html' %}
{% load static %}

{% block title %}
Python Tutorials & Insights | AspireEd Academy
{% endblock %}

{% block meta_description %}
Explore Python tutorials, Django guides, Flask insights, and coding tips from AspireEd Academy in Haridwar.
{% endblock %}

{% block content %}
<style>
    .search-form .form-control {
        height: 45px;
        border-radius: 25px 0 0 25px;
        border: 2px solid #eee;
        padding-left: 20px;
    }

    .search-form .btn-primary {
        height: 45px;
        border-radius: 0 25px 25px 0;
        padding: 0 25px;
    }

    .search-form .form-control:focus {
        border-color: #FF5722;
        box-shadow: none;
    }
</style>



<div id="fh5co-blog">
    <div class="container">

        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Python Tutorials & Insights</h2>
                <p>Mastering Django, Flask, and Python from Haridwar to the World.</p>
            </div>
        </div>
        <div class="row" style="margin-bottom: 40px;">
            <div class="col-md-6 col-md-offset-3">
                <form action="{% url 'blog_home' %}" method="get" class="search-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control"
                            placeholder="Search Python tutorials (e.g. Django, Loops)..." value="{{ request.GET.q }}">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <i class="icon-search"></i> Search
                            </button>
                        </span>
                    </div>
                </form>
                {% if request.GET.q %}
                <p class="text-center" style="margin-top: 15px;">
                    Showing results for: <strong>"{{ request.GET.q }}"</strong>
                    | <a href="{% url 'blog_home' %}" style="color: #FF5722;">Clear Search</a>
                </p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% for post in post_list %}
            <div class="col-md-4 col-sm-6 animate-box">
                <div class="blog-entry">
                    <a href="{{ post.get_absolute_url }}" class="blog-img">
                        {% if post.image %}
                        <img src="{{ post.image.url }}" class="img-responsive" alt="{{ post.title }}">
                        {% else %}
                        <div
                            style="height:200px; background:#2D3E50; display:flex; align-items:center; justify-content:center; color:#fff;">
                            Python Academy</div>
                        {% endif %}
                    </a>
                    <br>
                    <div class="desc">
                        <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                        <span><small>{{ post.created_on|date:"M d, Y" }}</small> 
                            | <small>By {{ post.author }}</small></span>
                        <p>{{ post.meta_description|truncatewords:20 }}</p>
                        <a href="{{ post.get_absolute_url }}" class="btn btn-primary btn-sm">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}